
services:
  tomcat:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      MYSQL_ROOT_PASSWORD: mipassword 
      MYSQL_DATABASE: productosdb     
      MYSQL_USER: usuario             
      MYSQL_PASSWORD: mipassword      
    depends_on:
      - mysql
    networks:
      - mynetwork  

db:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: mipassword 
      MYSQL_DATABASE: productosdb     
      MYSQL_USER: usuario             
      MYSQL_PASSWORD: mipassword  
    ports:
      - "3306:3306"      
    volumes:
      - ./mysql-init-files:/docker-entrypoint-initdb.d  
      - mysql_data:/var/lib/mysql
    networks:
      - mynetwork

volumes:
  mysql_data:

networks:
  mynetwork:
    driver: bridge  